{% extends "tmpl/base.html" %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('ul').sortable({
                update: function(event, ui) {
                    $.ajax({
                        url: '/todo/{{ list.id }}/move/',
                        type: 'POST',
                        data: { item_id: ui.item.context.id.substring(4),
                                position: ui.item.index(),
                                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }

                    });
                    console.log("Move " + ui.item.context.id.substring(4) + " to " + ui.item.index());
                }
            })
        });
    </script>
{% endblock head %}

{% block content %}

    <h1>{% block title %}{{ list.name }}{% endblock %}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/todo/{{ list.id }}/add/" method="post">
    {% csrf_token %}
    <input type="text" name="item" />
    <input type="submit" value="Add" />
    </form>

    {% if items.count > 0 %}
    <ul>
    {% for item in items %}
        <li id="item{{ item.id }}">{{ item.description }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No items here.</p>
    {% endif %}

{% endblock content %}