{% extends "tmpl/base.html" %}

{% block content %}

    <h1>{% block title %}Lists{% endblock %}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/todo/create/" method="post">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="submit" value="Create new list" />
    </form>

    {% if lists %}
        <ul>
        {% for list in lists %}
            <li><a href="/todo/{{ list.id }}/">{{ list.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lists.</p>
    {% endif %}

{% endblock content %}